@{
    ViewBag.Title = "About - BlockchainSQL.io";
}
<header class="main-header">
    <div class="container">
        <h1 class="page-title">About</h1>

        @*<ol class="breadcrumb pull-right">
            <li><a href="#">Pages</a></li>
            <li><a href="#">About us &amp; Team</a></li>
            <li class="active">About us &amp; Team</li>
        </ol>*@
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="title-logo animated fadeInDown animation-delay-5"></div>
        </div>
        <div class="col-xs-12">
            <p class="slogan text-center animated bounceInLeft animation-delay-12">Software that <span>just works</span>. <br> We <span>design</span>, <span>build</span> and <span>deliver</span> <span>quality</span> software <span>on-time</span> and <span>on-budget</span>.</p>
        </div>
        <div class="col-md-8 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <h2 class="right-line">About us</h2>
            <p class="p-lg">Sphere 10 Software is an Australian-based software development firm specializing in Blockchain development and Fintech consulting. Whether it’s Ethereum blockchain apps or a multi-currency exchange, we build quality systems and deliver faster and cheaper than our competitors.</p>
            <h4>Our History</h4>
            <p class="p-lg">For over 10 years, Sphere 10 Software has provided premier software development consulting to small, medium, large and government clients. From mobile apps to enterprise systems, we have shipped two of our own award-winning products and developed countless others for clients. We're a debt-free, lean and mean organization with powerful in-house libraries allowing us to rapidly assemble quality solutions for clients across multiple verticals.</p>
            <hr class="dotted">
            <blockquote class="blockquote-color-bg-primary">
                <p>With Blockchain, we now have the technology to dis-intermediate every aspect of the economy. Individuals can now economically interact with other individuals, collectives and even machines instantly, globally, pseudo-anonymously, arbitrarily and directly without any intermediaries!</p>
                <footer>Herman Schoenfeld, Sphere 10 Software, Director</footer>
            </blockquote>
        </div>
        <div class="col-md-4 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <h3 class="right-line">Technologies we use</h3>
            <div class="row">
                <div class="col-md-6 col-sm-3 col-xs-6"><img src="/images/logos/bitcoin.png" alt="" class="img-responsive"></div>
                <div class="col-md-6 col-sm-3 col-xs-6"><img src="/images/logos/ethereum.png" alt="" class="img-responsive"></div>
                <div class="col-md-6 col-sm-3 col-xs-6"><img src="/images/logos/ios.png" alt="" class="img-responsive"></div>
                <div class="col-md-6 col-sm-3 col-xs-6"><img src="/images/logos/android.png" alt="" class="img-responsive"></div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-3 col-xs-6"><img src="/images/logos/xamarin.png" alt="" class="img-responsive"></div>
                <div class="col-md-6 col-sm-3 col-xs-6"><img src="/images/logos/dotnet.png" alt="" class="img-responsive"></div>                
                <div class="col-md-6 col-sm-3 col-xs-6"><img src="/images/logos/sqlserver.png" alt="" class="img-responsive"></div>
                <div class="col-md-6 col-sm-3 col-xs-6"><img src="/images/logos/sqlite.png" alt="" class="img-responsive"></div>
            </div>
        </div>
    </div> <!-- row -->

    <div class="row animated fadeIn animation-delay-10">
        <h3 class="section-title">Services</h3>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-link">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Blockchain Development
                    </a>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        Our firm provides a comprehensive range of blockchain technology services, specializing in the development of cutting-edge consensus systems. Our offerings include blockchain consulting, full-stack MVP and POC development, enterprise blockchain solutions, smart contract creation, and token development. We are proficient in multiple blockchain technologies such as WEB3, Layer-1, Layer-2, dApps, bridges, and various ERC tokens, with expertise in solidity and platforms like Ethereum, Polkadot, and Moonbeam. Furthermore, we facilitate NFT development, cryptographic analysis, blockchain integrations, and the design of secure exchange backends and wallets. Complementing our technical prowess, we also offer exceptional UI/UX design services to ensure user-friendly interfaces for our developed solutions.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-link">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                        Software Development
                    </a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        We offer extensive software development services encompassing desktop, mobile, and web platforms. Our desktop software development includes crafting applications for Windows, Mac, and Linux, utilizing technologies such as .NET, RAD, WinForms, WPF, MAUI, Avalonia, and Blazor Hybrid. We also specialize in developing .NET 7 apps, multi-language codebases, and cross-platform solutions, alongside offering App Store packaging and publishing services. For mobile, we focus on delivering best-in-class UX for iOS & Android app development, utilizing MAUI, Xamarin.Forms, Flutter, and Blazor Hybrid among others. Our expertise extends to native, VR, game, no-code, hybrid, and progressive app development. In the web domain, we create websites, web applications, and cloud-based systems using HTML5, Responsive, Reactive, SPA, Bootstrap, Notion-CMS, Javascript, Typescript, and more. Our web development services include ASP.NET, Blazor, Notion-driven websites, eCommerce applications, static websites, and backend development with AWS/Azure architectures.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-link">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                        Consulting
                    </a>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        Our firm offers comprehensive consulting services aimed at facilitating better and faster software development across its full spectrum, from requirements and design to deployment. Leveraging our extensive experience, we strive to ensure your projects are delivered on time and within budget. Our consulting services cover multiple areas, including business consulting, where we provide strategic advice to help you align your software development with your business goals. In addition, we offer Notion consulting to optimize your use of this versatile platform, Web3 consulting to guide you in the evolving decentralized web space, and IT consulting to ensure your technology infrastructure and strategies are robust, efficient, and future-proof.
                    </div>
                </div>
            </div>
        </div>
    </div>

  
    <div class="container text-center">
        <div class="btn-polygon" style="padding-bottom: 2em">
            <a href="https://sphere10.com" target="_blank" class="btn btn-ar btn-success animated fadeInUp animation-delay-9"><i class="fa fa-university"></i>Visit Company Website</a>
        </div>
    </div>


   @* <div class="row">
        <h3 class="section-title">Contact Us</h3>    
        <div class="col-md-8 animated rotateIn animation-delay-4">
            <section>
                <p>Contact us with your enquiry and we will get back to you as soon as we can!</p>
                @Html.Partial("~/Views/Form/Contact.cshtml", new ContactFormInput())
                <div class="clearfix"></div>
                <br/>
            </section>
        </div>

        <div class="col-md-4 animated slideInRight animation-delay-4">
            <section>
                @Html.Partial("_AdditionalInfoPanel")
            </section>
        </div>
    </div>*@

</div>