<header class="wrap-polygons ar-intro-product">
    <div class="container text-center">
        <h1 class="small-caps">Unlock The Blockchain</h1>
        <p class="lead">
            <strong>BlockchainSQL Server</strong> gives you the blockchain as an SQL database.
            <br>
            Easily build your analytics and BI platform without ever worrying about protocols again.
        </p>

        <div class="social-icons">
            <a href="#"><span class="icon-ar icon-ar-inverse icon-ar-lg icon-ar-circle"><i class="fa fa-twitter"></i></span></a>
            <a href="#"><span class="icon-ar icon-ar-inverse icon-ar-lg icon-ar-circle"><i class="fa fa-facebook"></i></span></a>
            <a href="#"><span class="icon-ar icon-ar-inverse icon-ar-lg icon-ar-circle"><i class="fa fa-google-plus"></i></span></a>
            <a href="#"><span class="icon-ar icon-ar-inverse icon-ar-lg icon-ar-circle"><i class="fa fa-linkedin"></i></span></a>
            <a href="#"><span class="icon-ar icon-ar-inverse icon-ar-lg icon-ar-circle"><i class="fa fa-github"></i></span></a>
        </div>

        <div class="btn-polygon">
            <a href="#productInfo" class="btn btn-ar btn-primary"><i class="fa fa-book"></i>Know more</a>
            <a href="#enquire" class="btn btn-ar btn-success"><i class="fa fa-shopping-cart"></i>Purchase</a>
        </div>

        <img src="/Content/images/ProductLogo.png" class="wow fadeInUp animation-delay-4 img-responsive aligncenter img-po" alt="">
    </div>
</header>

<div class="overlay">
    <div id="productInfo" class="container">
        <section class="margin-bottom">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="right-line">BlockchainSQL Server</h2>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-cloud"></i></span>
                        <div class="text-icon-content">
                            <h3 class="no-margin">SQL Database</h3>
                            <p>Get the entire blockchain as tightly optimized, performance-tuned SQL database</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-desktop"></i></span>
                        <div class="text-icon-content">
                            <h3 class="no-margin">Distributed</h3>
                            <p>Easily scale out maintaining a single query endpoint</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-tablet"></i></span>
                        <div class="text-icon-content">
                            <h3 class="no-margin">Realtime</h3>
                            <p>Updates automatically with latest blockchain data</p>
                        </div>
                    </div>
                </div>

            </div> <!-- row -->
        </section>

        <p class="lead lead-lg text-center primary-color wow fadeIn animation-delay-3">Give your enterprise <strong>total blockchain awareness</strong></p>
        <p class="lead lead-sm text-center margin-bottom wow fadeIn animation-delay-5">All the data, all the time</p>

        <section class="margin-bottom margin-top">
            <ul class="nav nav-pills nav-justified ar-nav-pills center-block margin-bottom">
                <li class="active"><a href="#database" data-toggle="tab"><i class="fa fa-windows"></i> Database</a></li>
                <li><a href="#scalability" data-toggle="tab"><i class="fa fa-apple"></i> Scalability</a></li>
                <li><a href="#extensibility" data-toggle="tab"><i class="fa fa-linux"></i> Extensibility</a></li>
                <li><a href="#usecases" data-toggle="tab"><i class="fa fa-linux"></i> Use Cases</a></li>
            </ul>

            <div class="tab-content margin-top">


                <!-- DATABASE TAB -->
                <div class="tab-pane active" id="database">
                    <div class="row">
                        <div class="col-md-6 col-lg-5 col-md-push-6 col-lg-push-7">
                            <ul class="list-unstyled hand-list">
                                <li class="animated fadeInRight animation-delay-2">
                                    <h2 class="handwriting no-margin">Optmized</h2>
                                    <p class="lead-hand">Tightly optimised and performance-turned schema designed by experts</p>
                                </li>
                                <li class="animated fadeInRight animation-delay-6">
                                    <h2 class="handwriting no-margin">Multi-DBMS</h2>
                                    <p class="lead-hand">Supports SQL Server, Oracle, MySql and Sqlite (more planned)</p>
                                </li>
                                <li class="animated fadeInRight animation-delay-4">
                                    <h2 class="handwriting no-margin">Schema</h2>
                                    <p class="lead-hand">Tracks raw blockchain data like Blocks, Transactions, Inputs/Outputs, Scripts as well as computed data like difficulty, fee's, addresses, etc</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-7 col-md-pull-6 col-lg-pull-5">
                            <img class="img-responsive animated zoomInDown animation-delay-3" src="/Content/images/database.jpg">
                        </div>
                    </div>
                </div>

                <!-- SCALABILITY TAB -->
                <div class="tab-pane" id="scalability">
                    <div class="row">
                        <div class="col-md-6 col-lg-5">
                            <ul class="list-unstyled hand-list">
                                <li class="animated fadeInLeft animation-delay-2">
                                    <h2 class="handwriting no-margin">Single-Server</h2>
                                    <p class="lead-hand">Run as a single server and query the database directly</p>
                                </li>
                                <li class="animated fadeInLeft animation-delay-4">
                                    <h2 class="handwriting no-margin">Multi-Server</h2>
                                    <p class="lead-hand">Run as multiple autonomous databases with a single query endpoint that distributes load accordingly</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-7">
                            <img class="img-responsive animated slideInRight" src="/Content/images/scalability.jpg">
                        </div>
                    </div>
                </div>

                <!-- EXTENSIBILITY TAB -->
                <div class="tab-pane" id="extensibility">
                    <div class="row">
                        <div class="col-md-6 col-lg-5 col-md-push-6 col-lg-push-7">
                            <ul class="list-unstyled hand-list">
                                <li class="animated fadeInRight animation-delay-2">
                                    <h2 class="handwriting no-margin">Plug-n-Play</h2>
                                    <p class="lead-hand">Extensible architecture allowing you plug in your components</p>
                                </li>
                                <li class="animated fadeInRight animation-delay-4">
                                    <h2 class="handwriting no-margin">Pre-Processing</h2>
                                    <p class="lead-hand">Pre-process and transform data before it enters the database</p>
                                </li>
                                <li class="animated fadeInRight animation-delay-6">
                                    <h2 class="handwriting no-margin">Post-Processing</h2>
                                    <p class="lead-hand">Post-process and transform data after it enters the database</p>
                                </li>
                                <li class="animated fadeInRight animation-delay-6">
                                    <h2 class="handwriting no-margin">Source Code</h2>
                                    <p class="lead-hand">Source code options available</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-7 col-md-pull-6 col-lg-pull-5">
                            <img class="img-responsive animated slideInLeft" src="/Content/images/extensible.jpg">
                        </div>
                    </div>
                </div>

                <!-- USE CASES TAB -->
                <div class="tab-pane" id="usecases">
                    <div class="row">
                        <div class="col-md-6 col-lg-5">
                            <ul class="list-unstyled hand-list">
                                <li class="animated fadeInLeft animation-delay-2">
                                    <h2 class="handwriting no-margin">Software Vendors</h2>
                                    <p class="lead-hand">Easily integrate the blockchain into your product or service</p>
                                </li>
                                <li class="animated fadeInLeft animation-delay-4">
                                    <h2 class="handwriting no-margin">Exchanges & Wallet Providers</h2>
                                    <p class="lead-hand">Easily track customer deposits and withdrawals with simple and fast SQL queries</p>
                                </li>
                                <li class="animated fadeInLeft animation-delay-6">
                                    <h2 class="handwriting no-margin">Payment Processing</h2>
                                    <p class="lead-hand">Accept Bitcoin for goods and services without a payment gateway</p>
                                </li>
                                <li class="animated fadeInLeft animation-delay-6">
                                    <h2 class="handwriting no-margin">Law Enforcement & Compliance</h2>
                                    <p class="lead-hand">Track money flows between wallets using standard or custom-built analytics software</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-7">
                            <img class="img-responsive animated rotateIn animation-delay-3" src="/Content/images/utility.png">
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div> <!-- container -->

    <section class="section-lines">
        <div class="container">
            <div class="row">
                <div class="col-md-12 padding-40">
                    <p class="slogan text-center no-margin">Access the Bitcoin blockchain instantly via <span>simple</span> and <span>fast</span> SQL queries. No more daemon integrations or protocol bugs!</p>
                </div>
            </div>
        </div>
    </section>

    <!-- NUMERICAL DATA -->
    @*<div class="container">
            <section class="css-section">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="right-line">Some numerical data</h2>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="content-box box-default">
                            <h4 id="count-coffees" class="content-box-title counter numscroller" data-slno='1' data-min='0' data-max='450' data-delay='5' data-increment="1">0</h4>
                            <i class="fa fa-4x fa-coffee primary-color"></i>
                            <p class="margin-top-20 no-margin-bottom lead small-caps">cups of coffee</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="content-box box-default">
                            <h4 id="count-coffees" class="content-box-title counter numscroller" data-slno='1' data-min='0' data-max='64' data-delay='5' data-increment="1">0</h4>
                            <i class="fa fa-4x fa-briefcase primary-color"></i>
                            <p class="margin-top-20 no-margin-bottom lead small-caps">projects done</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="content-box box-default">
                            <h4 id="count-coffees" class="content-box-title counter numscroller" data-slno='1' data-min='0' data-max='600' data-delay='5' data-increment="1">0</h4>
                            <i class="fa fa-4x fa-comments-o primary-color"></i>
                            <p class="margin-top-20 no-margin-bottom lead small-caps">comments</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="content-box box-default">
                            <h4 id="count-coffees" class="content-box-title counter numscroller" data-slno='1' data-min='0' data-max='3500' data-delay='5' data-increment="1">0</h4>
                            <i class="fa fa-4x fa-group primary-color"></i>
                            <p class="margin-top-20 no-margin-bottom lead small-caps">happy clients</p>
                        </div>
                    </div>
                </div>
            </section>
        </div> <!-- container -->*@

    <div class="container">
        <h2 class="right-line">Available Solutions</h2>
        <section class="css-section">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="pricign-box animated fadeInUp animation-delay-7">
                        <div class="pricing-box-header">
                            <h2>Software</h2>
                            <p>Software you install and maintain on your hardware </p>
                        </div>
                        <div class="pricing-box-price">
                            <h3><small>monthly or fixed pricing available</small></h3>
                        </div>
                        <div class="pricing-box-content">
                            <ul>
                                <li><i class="fa fa-inbox"></i> Single or enterprise licensing</li>
                                <li><i class="fa fa-cloud-download"></i> Does not include DBMS</li>
                                <li><i class="fa fa-dashboard"></i> Windows-only</li>
                            </ul>
                        </div>
                        @*<div class="pricing-box-footer">
                                <a href="#" class="btn btn-ar btn-default">Enquire Now</a>
                            </div>*@
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <div class="pricign-box pricign-box-pro animated fadeInUp animation-delay-9">
                        <div class="pricing-box-header">
                            <h2>Hardware</h2>
                            <p>Server with preinstalled software </p>
                        </div>
                        <div class="pricing-box-price">
                            <h3>
                                <small>monthly or fixed pricing available</small>
                            </h3>
                        </div>
                        <div class="pricing-box-content">
                            <ul>
                                <li><i class="fa fa-inbox"></i> Single rack server</li>
                                <li><i class="fa fa-cloud-download"></i> Dell PowerEdge R220</li>
                                <li><i class="fa fa-dashboard"></i> High-performance SSD storage</li>
                                <li><i class="fa fa-sitemap"></i> Includes OS and DBMS licenses</li>
                            </ul>
                        </div>
                        @*<div class="pricing-box-footer">
                                <a href="#" class="btn btn-ar btn-primary">Enquire Now</a>
                            </div>*@
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <div class="pricign-box pricign-box-pro animated fadeInUp animation-delay-9">
                        <div class="pricing-box-header">
                            <h2>BAAS</h2>
                            <p>Blockchain-As-A-Service </p>
                        </div>
                        <div class="pricing-box-price">
                            <h3><small>monthly rate</small></h3>
                        </div>
                        <div class="pricing-box-content">
                            <ul>
                                <li><i class="fa fa-inbox"></i> Dedicated virtual infrastructure</li>
                                <li><i class="fa fa-cloud-download"></i> Cost-effective compared to Azure</li>
                            </ul>
                        </div>
                        @*<div class="pricing-box-footer">
                                <a href="#" class="btn btn-ar btn-primary">Enquire Now</a>
                            </div>*@
                    </div>
                </div>
            </div> <!-- row -->
        </section>
    </div>


    <div id ="enquire" class="container">
        <h2 class="right-line">Enquire Now</h2>
        <div class="row">
            <div class="col-md-8 animated rotateIn animation-delay-4">
                <section>
                    <p>Contact us with your enquiry and we will get back to you as soon as we can!</p>
                    @Html.Partial("~/Views/Form/Contact.cshtml")
                    <div class="clearfix"></div>
                    <br />
                </section>
            </div>

            <div class="col-md-4 animated slideInRight animation-delay-4">
                <section>
                    @Html.Partial("_AdditionalInfoPanel")
                </section>
            </div>
        </div>
    </div>
</div> <!-- overlay -->
