
.width-full {
    width: 100%;
}


.margin-left-5 {
    margin-left: 5px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-20 {
  margin-right: 20px;
}

.table-header-primary  > thead > tr > th {
  background-color: #0099da;
  color: #fff;
}