<div class="panel panel-primary">
	<div class="panel-heading">
		<i class="fa fa-envelope-o"></i> Additional Information
	</div>
	<div class="panel-body">
		<h4 class="section-title no-margin-top">Contacts</h4>
		<address>
			<strong><a href="http://www.sphere10.com">Sphere 10 Software</a></strong><br>
			Queensland, Australia<br>
			<i class="fa fa-phone-square"></i>&nbsp;&nbsp;+61 (7) 3191 1861 <span class="badge badge-primary pull-right">Australia</span> <br>
			<i class="fa fa-phone-square"></i>&nbsp;&nbsp;+1 (562) 661 8263 <span class="badge badge-primary pull-right">United States</span><br>
			<i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href='&#109;a&#105;lt&#111;&#58;%&#55;3u%&#55;&#48;port&#64;s&#37;70her&#37;6&#53;1&#48;&#46;com'>s&#117;pport&#64;&#115;&#112;her&#101;1&#48;&#46;c&#111;m</a>
		</address>

		<!-- Business Hours -->
		<h4 class="section-title no-margin-top">Business Hours</h4>
		<ul class="list-unstyled">
			<li><strong>Monday-Friday:</strong> 8am to 5pm</li>
			<li><strong>Saturday:</strong> 9am to 2pm</li>
			<li><strong>Sunday:</strong> Closed</li>
		</ul>
	</div>
</div>