<section class="carousel-section">
    <div id="carousel-example-generic" class="carousel carousel-razon slide" data-ride="carousel" data-interval="6200">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-7">
                            <div class="carousel-caption">
                                <div class="carousel-text">
                                    <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">Query the blockchain</h1>
                                    <h2 class="animated fadeInDownBig animation-delay-5  crousel-subtitle">We give you the entire Bitcoin blockchain</h2>
                                    <ul class="list-unstyled carousel-list">
                                        <li class="animated bounceInLeft animation-delay-11"><i class="fa fa-check"></i>Run your own SQL</li>
                                        <li class="animated bounceInLeft animation-delay-13"><i class="fa fa-check"></i>Browse the blockchain data</li>
                                        <li class="animated bounceInLeft animation-delay-15"><i class="fa fa-check"></i>Competely free!</li>
                                    </ul>
                                    <p class="animated fadeInUpBig animation-delay-17">Please make sure you familiarize yourself with the <span>schema</span> and <span>FAQ</span> before writing your queries.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-5 hidden-xs carousel-img-wrap">
                            <div class="carousel-img">
                                <img src="/images/sql-256.png" class="img-responsive animated bounceInUp animation-delay-3" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-8">
                            <div class="carousel-caption">
                                <div class="carousel-text">
                                    <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">Powered by BlockchainSQL Server</h1>
                                    <h2 class="animated fadeInDownBig animation-delay-5 crousel-subtitle">The ultimate blockchain analytics backend</h2>
                                    <ul class="list-unstyled carousel-list">
                                        <li class="animated bounceInLeft animation-delay-11"><i class="fa fa-check"></i>Multi-DBMS support</li>
                                        <li class="animated bounceInLeft animation-delay-13"><i class="fa fa-check"></i>Scalable & Extensible</li>
                                        <li class="animated bounceInLeft animation-delay-15"><i class="fa fa-check"></i>Realtime transaction data</li>
                                    </ul>
                                    <p class="animated fadeInUpBig animation-delay-17">Easily <span>integrate</span> the blockchain into your product or service using <span>simple</span> and <span>fast</span> SQL.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 hidden-xs carousel-img-wrap">
                            <div class="carousel-img">
                                <img src="/images/ProductLogo.png" class="img-responsive animated bounceInUp animation-delay-3" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</section> <!-- carousel -->