<header id="header-full-top" class="hidden-xs header-full">
    <div class="container-fluid">
        <div class="pull-left">
            <img src="/images/logos/web-logo-2.svg" height="40" width="300" class="pull-left">
        </div>
        <nav class="top-nav">
            @* @Html.Partial("_SocialMedia") *@
           @(User.Identity?.IsAuthenticated ?? false ? Html.Partial("_Logout", new LogoutForm()) : Html.Partial("_Login", new LoginForm()))
        </nav>
    </div> <!-- container -->
</header> <!-- header-full -->


