<header id="header-full-top" class="hidden-xs header-full">
    <div class="container-fluid">
        <div class="pull-left">
            <img src="/images/logos/BlockchainSQL Server.png" height="36" width="296" class="pull-left margin-10">
        </div>
        <nav class="top-nav">
            @* @Html.Partial("_SocialMedia") *@
           @(User.Identity?.IsAuthenticated ?? false ? Html.Partial("_Logout", new LogoutForm()) : Html.Partial("_Login", new LoginForm()))
        </nav>
    </div> <!-- container -->
</header> <!-- header-full -->


