<header id="header-full-top" class="hidden-xs header-full">
    <div class="container-fluid">
        <div class="pull-left">
            <img src="/images/logos/BlockchainSQL Server.png" height="36" width="296" class="pull-left margin-10">
        </div>
        <nav class="top-nav">
            @Html.Partial("_SocialMedia")
            @Html.Partial("_Login")

        </nav>
    </div> <!-- container -->
</header> <!-- header-full -->


