@model LoginForm

@using (Html.BeginFormEx(Model, "form-horizontal", false)) {
    <div class="dropdown animated fadeInDown animation-delay-2">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Login</a>
        <div class="dropdown-menu dropdown-menu-right dropdown-login-box animated flipCenter">
            <h4>Login</h4>
            <div class="form-group">
                <div class="input-group login-input">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    @Html.TextBoxFor(o => o.Username, new {
                        @class = "form-control",
                        placeholder = "Username",
                    })
                    @Html.ValidationMessageForEx(o => o.Username)
                </div>
                <br>
                <div class="input-group login-input">
                    <span class="input-group-addon">
                        <i class="fa fa-lock"></i>
                    </span>
                    @Html.PasswordFor(o => o.Password, new {
                        @class = "form-control",
                        placeholder = "Password",
                    })
                    @Html.ValidationMessageForEx(o => o.Password)
                </div>
                <button type="submit" class="btn btn-ar btn-primary pull-right">Login</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- dropdown -->
}