<div class="dropdown-search-box pull-right" style="width:15%">
    @*<form role="form" action="/Search">*@
        <div class="input-group">
            <input id="searchText" name="searchText" type="text" class="form-control" placeholder="Search address, hash, txid, ...">
            <span class="input-group-btn">
                <button id="searchButton" class="btn btn-ar btn-primary" type="submit">Go!</button>
            </span>
        </div><!-- /input-group -->
    @*</form>*@
</div>