<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ComponentRegistry" type="Sphere10.Framework.GenericSectionHandler, Sphere10.Framework" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    <add key="LogInfo" value="true" />
  </appSettings>

  <ComponentRegistry>
    <!-- Assemblies to pre-load -->
    <Assembly dll="Sphere10.Application.dll" />
    <Assembly dll="Sphere10.Application.WinForms.dll" />
    <Assembly dll="Sphere10.Windows.WinForms.dll" />
    <Assembly dll="Sphere10.Windows.WinForms.Sqlite.dll" />
    <Assembly dll="BlockchainSQL.DataAccess.NHibernate" />

    <!-- Register BlockchainSQL Biz Logic Components-->
    
    
  </ComponentRegistry>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
