name: Build
on: push

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2     
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.101
          
      - name: Build Hydrogen solution
        run: dotnet build ./src/BlockchainSQL All.sln
  
  publish:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.101

      - name: Publish
        run: publish.ps1 ./publish
      - uses: actions/upload-artifact@v2
        with:
          name: publish
          path: ./publish